# don't push project files
*.cbp
*.sln
*.vcx*
*.workspace*
config.make
Makefile
*.xcodeproj
*.plist
*.xcconfig
*.suo
*.db
*.opendb

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
build/

example-simple/bin/*
!example-simple/bin/data
example-drawing/bin/*
!example-drawing/bin/data
